/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap');

/* Backround Settings */
body {
    background-image: url('https://i.imgur.com/X20ii9K.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


* {
    box-sizing: border-box;
}

/* Allgemeine Body Settings */
body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;
    text-align: center;
}

/*  Settings für Eingabe Form*/
.Form{
    position: absolute;
    left: 25%;
    width: 50%;
    padding-bottom: 50px;
    background-color: #888888;
    opacity: 0.9;
}
.Angaben{
    text-align: left;
    margin-left:2em;
    margin-top:2em;
}

/* Settings für alle Input-Felder */
input{
    position: absolute;
    left: 150px;
    width: 400px;
}

/* Settings für User Name und Logo */
.UserName{
    position: absolute;
    right: 20px;
}
.UserLogo{
    position: absolute;
    transform: scale(0.06);
    right: -360px;
    top: -370px;

}