/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap');

/* Backround Settings */
body {
    background-image: url('https://i.imgur.com/X20ii9K.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


* {
    box-sizing: border-box;
}

/* Allgemeine Body Settings */
body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;
}
.Image{
    text-align: center;
}

/* aktuell angezeigtes Meme */
#currentImg{
    height: 400px;
    max-width: 100%;
    align-content: center;

}
.MemeContainer{

    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

/* Positionierung der Buttons und Texte */
#next{
    float: right;
}
#nextAp, #stopAp{
    position: absolute;
    left: 730px;
}
#prev{
    float: left;
}
#ErstellInfos{
   text-align: center;

}
#MemeTitel{
    text-align: center;
    font-size: large;
}
.Buttons{
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}
.UserName{
    position: absolute;
    right: 20px;
}
.UserLogo{
    position: absolute;
    transform: scale(0.06);
    right: -360px;
    top: -370px;

}

/* User Informationen oben rechts */
.UserInteraction{
    position: relative;
    left: 106%;
}

.UIaPos{
    position: absolute;
    top: 170px;
}
/* Vote-Verhätnis */
.Red, .Green{
    position: absolute;
    left: -15px;
    top: -25px;
    height: 150px;
    width: 5px;
    background-color: darkred;
}
.Green{
    height: 100px;
    background-color: forestgreen;
}

/* Vote-Area */
.VoteS, .Vote {
    position: absolute;
    left: 7px;
    top: 0px;
}
#LikeNumber{
    position: absolute;
    top: 25px;
    left: 10px;
}
#DownV, #DownS{
    top: 80px;
}

/* Auto-Play Intervall */
#timer{
    position: absolute;
    left: 800px;
    width: 40px;

}
.randomize{
    position: absolute;
    left: 750px;
    top: 645px;
}

.Vorlesen{
    position: absolute;
    top:165px;
    left: 1000px;
}

.FilterPlace{
    position: absolute;
    left: 510px;
    top: 72px;
}
.FilterAuswahl{
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: white;
    padding: 10px;
    display: none;
}
.FilterButton{
    border: none;
    background-color: white;
    width: 250px;
    text-align: left;
}
.FilterButton:hover{
    background-color: lightgray;
}
.FilterInput{
    width: 205px;
}
.Filtered{
    background-color: #777777;
    color: white;
    padding:1px;
    border-radius: 3px;
}
.FilteredX{
    background: none;
    color: white;
    border: none;
}
a.Filtered{
    padding-left: 10px;
}
